@import './home.css';
@import './navLink.css';
@import './catering.css';
@import './localPickup.css';
@import './MainSection.css';
@import './MainSide.css';
@import './itemCake.css';
@import './MainArticle.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
