.itemCake {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.imageCakes {
  float: left;
}

.cakeDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cakeNumber {
  display: flex;
  gap: 10px;
}

img.imageCakes {
  height: 70px;
}
